body{
  font-family: Tahoma, Geneva , sans-serif;
  color: #fff;
  background: url("pexels-photo-531880.jpg");
  background-size: cover;

}
.forgot{
  background: rgba(44,64,88,0.7);
  padding: 44px;
  width: 250px;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
  height:400px;
  margin-left: 500px;
}
form{
  width:240px;
  text-align: center;
  justify-content: center;
}
input
{
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: 'Play',sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
}
input[type=button]{
  border: none;
  width: 191px;
  margin:auto;
  display: block;
  justify-content: center;
  background: white;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
input[type=button]:hover{
  color: #fff;
  background-color: black;
}
h2{
  color:white;
}
h5{
  font-size: 14px;
  color:yellow;
}
a{
  color: yellow;
  text-decoration: blink;
}
a:hover{
  color:blue;
}
/* .container{
  display: flex;
  flex-direction: row;
  width:100%;
} */
::placeholder{
  color:aliceblue;
  opacity: 0.8;
}
